<section>
  <h3 class="pageTitle">Update Inventory({{item.fName}}:{{item.sName}})</h3>
</section>
  
<section class="m-3">
	<form class="p-4"  action="/inventory" method="POST">
		<legend class="form-legend">Enter data to add a row</legend>
		<div class="column col-sm-2">
			<div class="form-floating">
				<input type="number" class="form-control" value="{{item.quantity}}" name="quantity">
				<label for="floatingInput">Quantitiy</label>
			</div>
		</div>
	</form>
	<div class="col-sm-2">
        <button class="btn btn-primary btn-sm" onclick="updateInventory({{item.hunterID}},{{item.supplyID}})">Submit</button>
		<a href="/inventory" class="btn btn-danger btn-sm">Cancel</a>
    </div>
</section>